:host>nav{
    background-color: gray;
    color: white;
    display:flex;
    flex-flow: column nowrap;
}
nav>*{
    padding: 0.3rem;
    cursor: pointer;
}
nav>*.active{
    background-color:rgb(19, 19, 160);
}
nav>*:hover{
    background-color: darkgray;
    color: white;
}
nav>*:hover, nav>*:visited, nav a{
    color: white;
    text-decoration: none;
}